.event_render_main {
    text-align: center;
    height: 100%;
    font-size: 12px;
}

.event_render_time {
    padding: 3px;
    min-height: 20px;
    position: relative;
}
.event_render_payed {
    position: absolute;
    top: 2px;
    right: 2px;
}

.event_render_wrap {
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    text-align: left;
    padding-left: 8px;
    color: #333333;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.view_buttons_wrapper {
    position: absolute;
    top: 70px;
    right: 50px;
    z-index: 20;
    display: flex;
    gap: 10px;
    align-items: center;
}
