.service_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 5px 10px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    width: 400px;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .service_card {
        column-gap: 10px;
        max-width: 90%;
        box-sizing: border-box;
    }
    .service_card h4 {
        font-size: 15px;
    }

    .service_card h3 {
        font-size: 16px;
    }
}