.selector_wrapper {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;

}

.buttons_wrapper {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: calc(100% - 30px);
}