.barber_card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 20px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    width: 350px;
    box-sizing: border-box;
}

.card_select {
    border-left: 5px solid rgb(158, 138, 120);
}