.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.service_card {
    min-width: 390px;
    padding: 10px;
    margin: 10px;
}

.card_inside_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

li {
    list-style-type: none;
}

.card_service_name {
    margin-left: 15px;
}