doctype html
html
    head
        style
            include style.css
    body
        div
            h2 LevelUP Barbershop
        div
            block content
        div.footer
            p С наилучшими пожеланиями, команда LevelUP
            br

