doctype html
html
    head
        style
            include style.css
    body
        div.head
            h2 LevelUP BarberShop
        div
            block content
        div.footer
            p С наилучшими пожеланиями, команда LevelUP
            br

