doctype html
html
    head
        style
            include style.css
    body
        div.head
          div
            block content
        div.footer
            p С наилучшими пожеланиями, команда LevelUP
            br

