extends container

block content
    div.card
        h3 #{customerName}!
            p Вы успешно оформили запись в LevelUp Barbershop.
                | #{barberName} будет ждать вас в #{startTime}.
            p Для отмены записи пройдите по
                a(href=orderId)  ссылке