body {
    background-color: #fcf9f5;
    font-family: 'Inter', sans-serif;
}

.card {
    background-color: #fff;
    padding: 20px;
    width: 350px;
    margin: 15px;
    cursor: pointer;
    -webkit-box-shadow: 0 50px 100px 0 rgba(64, 1, 4, 0.1), 0 -6px 0 0 rgba(248, 99, 107, 0.004);
    box-shadow: 0 50px 100px 0 rgba(64, 1, 4, 0.1), 0 -6px 0 0 rgba(248, 99, 107, 0.004);
}