@import url('https://fonts.googleapis.com/css?family=Lato|Prata|Work+Sans:600&display=swap');

body {
  margin: 0;
  padding: 0;
}

button.go241900306 {
  color: white;
}

.go3074214942 {
  font-family: 'Inter', sans-serif;
}

.go1735494155 {
  opacity: .9;
}

.css-rh92k-MuiPaper-root-MuiMobileStepper-root {
  display: none !important;
}